.principal h1 {
  text-align: center;
  color: #4dfeff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 1220px;
}

@media (max-width: 900px) {
  .container {
    width: auto;
  }
}
