header {
  display: flex;
  margin: 25px;
  justify-content: space-around;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  width: 260px;
  font-size: 16px;
}

header img {
  width: 160px;
  height: 170px;
}

header button {
  margin: 20px;
  width: auto;
  padding: 10px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
}
